@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a {
        @apply text-emerald-500;
    }

    /* input[type='number']에 대한 화살표 제거 */
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
    input[type='number'] {
        -moz-appearance: textfield;
    }
}

@layer utilities {
    .text-bigger-hello {
        @apply text-3xl font-semibold; 
    }
}

@layer components {
    .primary-btn {
        @apply w-full h-10 bg-emerald-500 text-white text-lg font-medium rounded-md text-center hover:bg-emerald-400 transition-colors;
    }
}
